
<h1>Checkout this brilliant idea!</h1>

<h3>This is the title of the Idea:<br /><br />
   <span class="idea-title"><%= @idea.title.upcase %></span></h3>


<section>
  <h2 class="idea-author">This idea belongs to: <%= @idea.author %> </h2>
  <p>
    <%= @idea.content %>
  </p>
</section>
<div>
  <br />
<h3 class ="links"><%= link_to "CHECK OUT WHO HAS ENDORSED THIS", idea_endorsements_path(@idea.id) %></h3>
<br />


<% if current_user == @idea.user %>
<h3>Idea creator functions:</h3>
  <h3><%= link_to "Edit this idea", edit_idea_path(@idea.id) %></h3>
  <h3><%= link_to "Delete this idea", idea_path(@idea), method: :delete %></h3>
<% end %>
</div>
