<div>



<h1>Welcome to Idea Logger!</h1>
<p>
Helvetica flannel excepteur nesciunt ad. Tofu semiotics stumptown cold-pressed, duis dreamcatcher activated charcoal gluten-free ethical small batch id yuccie normcore aute irure. Odio kogi proident, hexagon godard keffiyeh tumblr. Qui vice keffiyeh labore officia celiac. Tumeric keffiyeh roof party paleo yuccie pinterest you probably haven't heard of them celiac waistcoat tousled, farm-to-table velit sapiente. Shabby chic officia aute, brooklyn tacos PBR&B authentic trust fund mlkshk. Tilde bitters trust fund activated charcoal tattooed green juice.
</p>

<div class ="container center-boxes">


<h2>Log in</h2>
<h3><span class="message">If you need more menu options see the corner</span></h3>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field log-in">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field log-in">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field log-in">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions log-in">
    <br />
    <%= f.submit "Log in" %>
  </div>
<% end %>
</div>
<%#= render "devise/shared/links" %>
</div>
