<h3>Endorsements#edit</h3>

<h3>Edit endorsement for <%=@endorsement.author %></h3>

<%= form_for [@idea, @endorsement] do |f| %>
  <%= f.label :author %>
  <%= f.text_field :author %>

  <%= f.label :amount %>
  <%= f.text_field :amount %>

  <%= f.submit %>
<% end %>



<h1>Delete this view</h1>
